.Container-Header {
  width: 100%;
  top: 0px;
  position: fixed;
  margin: 0px auto;
  z-index: 2;
  background: #fff;
  box-shadow: 5px 5px 25px 0 rgba(238, 88, 55, 0.2) !important;
}
.Header {
  width: 100%;
  padding: 15px 35px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  background-size: 250px 190px;
  border-radius: 5px;
  background-repeat: no-repeat;
}
.container-search {
  margin-right: auto;
}
.search {
  padding: 0.75em 2em;
  width: 100%;
  border: 1px solid #dbe2e8;
  color: #2e3d49;
  max-width: 50rem;
  outline: 0;
  margin: 0 auto;
  font-size: 0.9rem;
  border-radius: 8px;
  display: block;
}

body {
  font-family: "Roboto Slab", serif;
}
.logo {
  margin-right: 60px;
}
.Header_nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.Navs {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-top: 10px;
}
li {
  text-decoration: none;
  outline: none;
}
.li-nav {
  margin-right: 25px;
}
.nav_links {
  color: #222;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 0;
  display: inline-block;
  position: relative;
  overflow: hidden;
  line-height: 1.3;
}

.nav_links:hover::after {
  left: 0;
  width: 100%;
  right: auto;
}

.nav_links::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 4px;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #e24c0b;
  transition: all 0.5s;
}

.Header-Icon {
  display: flex;
}

.Header-Icon-cart {
  text-decoration: none;
}
.Header-cart {
  position: relative;
}
.Header-logout {
  position: relative;
  padding: 5px;
  margin-left: 10px;
}
.Cart-number {
  z-index: 1;
  position: absolute;
  top: -4px;
  right: -5px;
  text-align: center;
  vertical-align: center;
  font-size: 10px;
  border-radius: 50%;
  line-height: 1;
  padding: 2px 4px;
  background-color: #e24c0b;
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: #222;
}

@media (max-width: 600px) {
  .Header {
    flex-direction: column;
  }
  .logo {
    margin-right: 0;
  }
  .Header_nav {
    margin-right: 0;
  }
  .nav_links {
    font-size: 22px;
  }
}
