.layout-mode {
  display: flex;
  flex-direction: row;
  padding: 0.3rem;
  border: 2px solid gray;
  cursor: pointer;

  &__item {
    width: 0.7rem;
    height: 0.7rem;
    background-color: gray;

    &--active {
      background-color: #ff6601;
    }
  }

  &__item:not(:last-child) {
    margin-right: 0.3rem;
  }

  &:not(:last-child) {
    margin-right: 0.8rem;
  }

  &:hover {
    border: 2px solid #646464;
  }

  &--active {
    border: 2px solid #ff6601;
  }
}
