* {
  box-shadow: none !important;
  border-color: none !important;
}
body {
    height: 100vh;
    font-family: "Montserrat", "Helvetica", sans-serif;
    font-size: 14px;
    line-height: 1.3;
    background-color: #fff;
}
.auth {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  z-index: 999;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}
.auth-container {
  margin-top: 150px;
  width: 370px;
  height: 100%;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.auth-Tablist {
  list-style-type: none;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 85px;
  padding: 0;
}

.auth-title {
  color: #222;
  outline: none;
  font-size: 32px;
  padding: 0 32px;
  font-weight: bold;
  transition: all 3s ease-out;
  cursor: pointer;
}
form {
  margin-top: 0em;
}
.SignForm {
  display: flex;
  flex-direction: column;
}
.SignForm_element {
  margin-bottom: 15px;
}
.SignForm_input {
  width: 100%;
  padding: 10px 20px;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 16px;
  height: 48px;
  line-height: 48px;
  transition: border 0.5s;
  font: inherit;
}

.SignForm-login-button {
  font-size: 14px;
  letter-spacing: 2px;
  font-family: inherit;
  border: none;
  background-color: #000;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 46px;
  position: relative;
  cursor: pointer;
}
