.product {
  padding-bottom: 2rem;
  &__img {
    width: 100%;
    height: 100%;
  }

  &__link {
    flex: 0 0 60%;
    height: 60%;
    padding: 1rem;
    position: relative;
  }

  &__title {
    font-size: 18px;
  }

  &__description {
    font-size: 0.7rem;
  }

  &:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  &:hover &__add-to-cart {
    visibility: visible;
    opacity: 1;
  }

  &:hover .owl-dots {
    display: inline-block;
  }
}
button {
  outline: none;
  border: hidden;
  background-color: transparent;
  border-color: transparent;
}
button:focus {
  box-shadow: none;
}
.button-card {
  display: flex;
  border-color: transparent;
  justify-content: center;
  background: #e24c0b;
  outline: none;
  border: none;
}
.button-p {
  color: white;
}
.logout {
  display: flex;
  align-items: center;
}
.card-body {
  padding: 18px;
}
.details-bottom:hover {
  background: #e24c0b;
  color: white;
}
.content {
  margin: 180px auto;
}
@media only screen and (max-width: 768px) {
  .product {
    height: auto !important;
    &__add-to-cart {
      visibility: visible;
      opacity: 1;
    }

    & .owl-dots {
      display: inline-block;
    }
  }
}
