.title-cart-container {
  margin-top: 50px;
  height: 150px;
}
.title-cart {
  font-size: 58px;
  margin: 0;
  letter-spacing: -1px;
  text-align: center;
  line-height: 1.2;
}
.title-price {
  font-size: 20px;
}
.delete {
  background: transparent;
  color: #e24c0b;
  border: none;
  outline: none;
}
.card-footer {
  background-color: white;
}
.quantity .minus,
.quantity .plus {
  z-index: 1;
}
